<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        body {
            background: url('/imgs/bg.png');
        }
        .container {
            width: 960px;
            background: url('/imgs/niupizhi.png');
            /* background-color: #fff; */
            color: #3c3c3c;
            font-weight: bolder;
            padding: 20px;
            margin-top: 40px;
        }
        /* label {

        } */
        .submit {
            text-align: center;
            margin-top: 20px;
            /* background-color: yellowgreen; */
            /* color: #000; */
        }
    </style>
</head>
  <body>
    <div class="container">
        <h2>添加记录</h2>
        <hr/>
        <form method="post" action="/account">
            <div class="form-group">
              <label>事项</label>
              <input class="form-control" name="title">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
              <label>发生时间</label>
              <input  class="form-control" name="time">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">类型</label>
                <select class="form-control" id="exampleFormControlSelect1" name="type">
                  <option value="-1">支出</option>
                  <option value="1">收入</option>
                </select>
              </div>
            <div class="form-group">
              <label>金额</label>
              <input class="form-control" name="account">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">备注</label>
              <textarea class="form-control" name="remark" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning btn-block">添加</button>
            </div>
          </form>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-7ymO4nGrkm372HoSbq1OY2DP4pEZnMiA+E0F3zPr+JQQtQ82gQ1HPY3QIVtztVua" crossorigin="anonymous"></script> -->
</body>
</html>